<!--<ion-content class="fondo">
  <ion-menu content-id="main-content" >
      <ion-header >
      <ion-toolbar>
          <ion-title>Nombre usuario</ion-title>
      </ion-toolbar>
  </ion-header>
  <div class="ta">  
  <ion-list-header color="dark">
      <ion-label  (click) = "perfil()">Mi Perfil</ion-label>
    </ion-list-header>
    <ion-list-header color="dark">
      <ion-label  (click) = "viajes()">Mis viajes</ion-label>
    </ion-list-header>
    <ion-list-header color="dark">
      <ion-label  (click) = "billetera()">Mi billetera</ion-label>
    </ion-list-header>
    <ion-list-header color="dark">
      <ion-label  (click) = "mensajes()">Mensajes</ion-label>
    </ion-list-header></div>
    <div>
    <ion-list-header color="dark">
      <ion-label (click)="cerrarSesion()">Cerrar Sesión</ion-label>
    </ion-list-header>
    <ion-list-header color="dark">
      <ion-label>Ayuda</ion-label>
    </ion-list-header>
  </div>
    
    



  </ion-menu>
  <div class="ion-page" id="main-content">
      <ion-header>
      <ion-toolbar>
          <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>TeLlevoApp </ion-title>
      </ion-toolbar>
      <ion-toolbar>
          <ion-searchbar> </ion-searchbar>
        </ion-toolbar>
        
 </ion-header>
 
  </div>
 
 
</ion-content>-->