.fondo{
    --background: url('./../../../assets/img/descargar.jpg') 0/100% 100%;
   }

   .mensaje{
    background: url('./../../../assets/img/mensaje.png') ;
   }
   .ta{
    margin-bottom: 390px;
    
   
    
}