.ini{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center
    border 1px solid ;
    padding: 10px;

}

.fondo{
    --background: url('./../../../assets/img/descargar.jpg') 0/100% 100%;
   }

.iniciar{
    border: 2px;
    padding: 10px;

   }

   .boton{
    border: 2px;
    padding: 10px;
   }