<div class="ta">  
  <ion-list-header color="dark">
    <ion-label  (click) = "perfil()">Mi Perfil</ion-label>
  </ion-list-header>
  <ion-list-header color="dark">
    <ion-label  (click) = "viajes()">Mis viajes</ion-label>
  </ion-list-header>
  <ion-list-header color="dark">
    <ion-label  (click) = "billetera()">Mi billetera</ion-label>
  </ion-list-header>
  <ion-list-header color="dark">
    <ion-label  (click) = "mensajes()">Mensajes</ion-label>
  </ion-list-header></div>
  <div>
  <ion-list-header color="dark">
    <ion-label (click)="cerrarSesion()">Cerrar Sesión</ion-label>
  </ion-list-header>
  <ion-list-header color="dark">
    <ion-label>Ayuda</ion-label>
  </ion-list-header>
</div>
