.logo{
    margin: center;
   margin-top: 50px;
   border: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url('./../../../assets/img/usuario.jpg') 0/100%
}
.ta{
    margin-bottom: 390px;
    
   
    
}
.fondo{
    --background: url('./../../../assets/img/descargar.jpg') 0/100% 100%;
   }