<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo"> 
  <div class="orde">
    <ion-item>
      <ion-label position="floating">Nombre </ion-label>
      <ion-input type="text" [(ngModel)]="Conductor.nombre" name="nombre"></ion-input>
    </ion-item>
  </div>

  <div class="orde">
    <ion-item>
      <ion-label position="floating">Apelido</ion-label>
      <ion-input type="text" [(ngModel)]="Conductor.apellido" name="apellido"></ion-input>
    </ion-item>
  </div>

  <div class="orde">
    <ion-item>
      <ion-label position="floating">Rut</ion-label>
      <ion-input type="text" [(ngModel)]="Conductor.rut" name="rut"></ion-input>
    </ion-item>
  </div>

  <div class="orde">
    <ion-item>
      <ion-label position="floating">Telefono</ion-label>
      <ion-input type="text" [(ngModel)]="Conductor.telefono" name="telefono"></ion-input>
    </ion-item>
  </div>

  <div class="orde">
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="text" [(ngModel)]="Conductor.correo" name="correo"></ion-input>
    </ion-item>
  </div>

  <div class="orde">
    <ion-item>
      <ion-label position="floating">Vehiculo</ion-label>
      <ion-input type="text" [(ngModel)]="Conductor.vehiculo" name="vehiculo"></ion-input>
    </ion-item>
  </div>

  <div class="orde">
    <ion-item>
      <ion-label position="floating">Patente</ion-label>
      <ion-input type="text" [(ngModel)]="Conductor.patente" name="patente"></ion-input>
    </ion-item>
  </div>

  <div class="orde">
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="Conductor.contrasenia" name="contrasenia"></ion-input>
    </ion-item>
  </div>

  <div class="orde">  
    <ion-button expand="full"(click)="registrar()">Registrar</ion-button>
  </div>
</ion-content>

