.fondo-negro {
    background-color: black 100%;
    margin-top: 5px;
  }

  .boton-flecha {
    position: fixed;
    top: 20px; /* Ajusta la posición superior según tus necesidades /
    left: 20px; / Ajusta la posición izquierda según tus necesidades /
    --background: transparent; / Fondo transparente para el botón /
    --color:blue; / Color del icono de flecha */
  }

 margen{
  margin-bottom: 10px;
 }