<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <!-- Agregar un botón de flecha al lado del título -->
      <ion-button (click)="redirigirAInicio()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Historial</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  
  <!-- Tarjeta de Viaje 1 -->
  <ion-card>
    <ion-card-header>
      01 de Septiembre de 2023
    </ion-card-header>
    <ion-card-content>
      <ion-label class="info-label">Costo: $2500</ion-label>
      <ion-label class="info-label">Conductor: John </ion-label>
      <ion-label class="info-label">Origen: Bajos de Mena</ion-label>
      <ion-label class="info-label">Destino: Duoc Uc</ion-label>
      <ion-label class="info-label">Tiempo: 20 minutos</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      18 de Septiembre de 2023
    </ion-card-header>
    <ion-card-content>
      <ion-label class="info-label">Costo: $2000</ion-label>
      <ion-label class="info-label">Conductor: Juan</ion-label>
      <ion-label class="info-label">Origen: Puente Alto</ion-label>
      <ion-label class="info-label">Destino: Duoc Uc</ion-label>
      <ion-label class="info-label">Tiempo: 10 minutos</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      09 de Octubre de 2023
    </ion-card-header>
    <ion-card-content>
      <ion-label class="info-label">Costo: $5000</ion-label>
      <ion-label class="info-label">Conductor: luis</ion-label>
      <ion-label class="info-label">Origen: La Florida</ion-label>
      <ion-label class="info-label">Destino: Duoc UC</ion-label>
      <ion-label class="info-label">Tiempo: 30 minutos</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      21 de Octubre de 2023
    </ion-card-header>
    <ion-card-content>
      <ion-label class="info-label">Costo: $5000</ion-label>
      <ion-label class="info-label">Conductor: John</ion-label>
      <ion-label class="info-label">Origen: Cajon del Maipo</ion-label>
      <ion-label class="info-label">Destino: Duoc Uc</ion-label>
      <ion-label class="info-label">Tiempo: 30 minutos</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      01 de Noviembre de 2023
    </ion-card-header>
    <ion-card-content>
      <ion-label class="info-label">Costo: $2500</ion-label>
      <ion-label class="info-label">Conductor: Juan</ion-label>
      <ion-label class="info-label">Origen: AV Mexico</ion-label>
      <ion-label class="info-label">Destino: Duoc Uc</ion-label>
      <ion-label class="info-label">Tiempo: 20 minutos</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      01 de Septiembre de 2023
    </ion-card-header>
    <ion-card-content>
      <ion-label class="info-label">Costo: $25.00</ion-label>
      <ion-label class="info-label">Conductor: John Doe</ion-label>
      <ion-label class="info-label">Origen: Ciudad A</ion-label>
      <ion-label class="info-label">Destino: Ciudad B</ion-label>
      <ion-label class="info-label">Tiempo: 30 minutos</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      01 de Septiembre de 2023
    </ion-card-header>
    <ion-card-content>
      <ion-label class="info-label">Costo: $25.00</ion-label>
      <ion-label class="info-label">Conductor: John Doe</ion-label>
      <ion-label class="info-label">Origen: Ciudad A</ion-label>
      <ion-label class="info-label">Destino: Ciudad B</ion-label>
      <ion-label class="info-label">Tiempo: 30 minutos</ion-label>
    </ion-card-content>
  </ion-card>

  <!-- Tarjeta de Viaje 2 -->
  <ion-card>
    <ion-card-header>
      15 de Agosto de 2023
    </ion-card-header>
    <ion-card-content>
      <ion-label class="info-label">Costo:$20.000</ion-label>
      <ion-label class="info-label">Conductor:Juan</ion-label>
      <ion-label class="info-label">Origen:Puente Alto</ion-label>
      <ion-label class="info-label">Destino:Aeropuerto</ion-label>
      <ion-label class="info-label">Tiempo:45 minutos</ion-label>
    </ion-card-content>
  </ion-card>